/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
	line-height: 1;
    margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    height: auto;
    width: auto;
    clip: auto;

}
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }


h1, h2, h3 { 
    font-family: "molle";

}

h4, p, q, small, nav, button, form {
    font-family: "montserrat";
}

body {
    line-height: 1.5em;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

h3 {
    font-size: 30px;
}
h4{
    font-size: 30px;
}

header {
	background-image: linear-gradient(teal, white);
    padding: 1rem;
    width: 100vh;

}


#about {
    background-color: #499BD2;
    outline-color: white;
    border-radius: 10px;
}

footer {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    text-decoration: none;

}
footer a{
    text-decoration: none;
    font-family: "montserrat";
    padding: 5px;
    color: black;
}

@media screen and (min-width: 429px) {

    header{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr;
    }
    h1 {
        grid-column-start: span 2;
        grid-row-start: 2;
        align-self: center;
    }

    header p{
        grid-column-start: span 2;
        grid-row-start: 3;
        align-self: end;
    }
    #menu-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F6D64A;
        position: relative;
        z-index: 1;  
        -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
      }
      
      #menu-toggle a {
        text-decoration: none;
        color: #232323;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
      }
      #menu-toggle input {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;  
        padding: 0;
        cursor: pointer;  
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */  
        -webkit-touch-callout: none;
      }
      #menu-toggle label {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

      }
      #menu-toggle ul {
        display: none;
      }
      #intro{
        display: grid;
        grid-row-gap: 10px;
        padding: 1rem;
        }
        #intro img{
            width: 100%;
            height: auto;
         }
        #plan {
            background-color: #F6D64A;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
        }
        #plan div {
            padding: 15px;
        }

        #plan div section{
            width: 400px;
            height: 300px;
            box-sizing: border-box;
            background-color: #55BCD5;
            border-radius: 10px;
            border: solid white 4px;
            padding: 15px;
            margin: 15px;

        }
        #plan div section h4 {
            padding: 10px;
            text-align: center;
            font-weight: bold;
        }
        #plan div section a img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #testimonials h3 {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 15px;
        }
        #testimonials div {
            padding: 15px;
            quotes: auto;
        }
        #testimonials div section {
            margin: 15px;

            text-align: center;

        }
        #testimonials div section h4 {
            text-align: center;
            font-weight: bold;
            padding: 15px;
        }
        #testimonials div section img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #testimonials div section p {
            text-align: center;
            quotes: "“" "”";
            
        }
        #about h3{
            font-weight: bold;
            padding: 15px;
        }
        #about div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            padding: 15px;
            margin: 15px;
        }
        #about div section {
            text-align: center;
        }
        #about div section h4 {
            font-weight: bold;
        }
        #contact form {
            display: grid;
            width: auto;
            padding: 1em;
            margin: 0 auto;
            font-size: 1.5em;
            font-weight: bold;
        }
        #contact form input, #contact form label {
            display: grid;
            width: 95%;

        }
        #contact form input{
        font-size: 1.4em;
        height: 2em;
        padding: 0.25em 0.5em;
        border: 4px solid #9B26B0;
        }
        #nums {
            display: grid;
            place-content: center;
        }
        .radio-control {
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.1;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
          }
          
          .radio-control + .radio-control {
            margin-top: 1em;
          }
          
          #radio-control:focus-within {
            color: var(--form-control-color);
          }
          
          input[type="radio"] {
            /* Add if not using autoprefixer */
            -webkit-appearance: none;
            /* Remove most all native input styles */
            appearance: none;
            /* For iOS < 15 */
            background-color: var(--form-background);
            /* Not removed via appearance */
            margin: 0;
          
            font: inherit;
            color: currentColor;
            width: 1.15em;
            height: 1.15em;
            border: 0.15em solid currentColor;
            border-radius: 50%;
            transform: translateY(-0.075em);
          
            display: grid;
            place-content: center;
          }
          
          input[type="radio"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--form-control-color);
            /* Windows High Contrast Mode */
            background-color: CanvasText;
          }
          
          input[type="radio"]:checked::before {
            transform: scale(1);
          }
          
          input[type="radio"]:focus {
            outline: max(2px, 0.15em) solid currentColor;
            outline-offset: max(2px, 0.15em);
          }
          select {
            appearance: none;
            background-color: transparent;
            border: none;
            padding: 0 1em 0 0;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
            line-height: inherit;
            outline: none;
          }
          #contact div .custom-select {
            font-size: 1.4em;
            height: 2em;
            padding: 0.25em 0.5em;
            border: 4px solid #9B26B0;
            cursor: pointer;
            line-height: 1.1;
            background-color: #fff;
            background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
          }
          input[type="submit"] {
                padding: 1em;
                margin: auto;
                background-color: #9B26B0;
                color: #fff;
          }  
}

@media screen and (min-width: 768px) {

    header{
        display: grid;
        width: auto;
        grid-gap: 10px;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2fr 1fr;
    }
    h1 {
        grid-column-start: 2;
        grid-row-start: 1;
        align-items: flex-start;
    }

    header p{
        grid-column-start: 2;
        grid-row-start: 1;
        align-self: end;
    }
    header nav {
        grid-column-start: span 2;
    }
      
      #menu-toggle a {
        text-decoration: none;
        color: #232323;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
      }
      #menu-toggle input {
        display: none;
      }
      #menu-toggle label {
        display: none;

      }
      #menu-toggle ul {
        display: flex;
        grid-column-start: span 2;

      }
      #intro{
        display: grid;
        margin: 10%;
        grid-row-gap: 10px;
        padding: 1rem;
        }
        #img-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 2%;
            column-gap: 2%;
         }
         #intro picture {
            grid-column-start: span 2;
         }
        #plan {
            background-color: #F6D64A;
        }
        #plan div {

            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-evenly;
            margin-left: 10%;
            margin-right: 10%;

 
        }

        #plan div section{
            width: 400px;
            height: 300px;
            box-sizing: border-box;
            background-color: #55BCD5;
            border-radius: 10px;
            border: solid white 4px;
            padding: 15px;
            margin: 15px;

        }
        #plan div section h4 {
            padding: 10px;
            text-align: center;
            font-weight: bold;
        }
        #plan div section a img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #testimonials div{
            display: grid;
            grid-template-columns: 1fr 1fr;

        }
        #testimonials h3 {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 15px;
        }
        #testimonials div {
            padding: 15px;
            quotes: auto;
        }
        #testimonials div section {
            margin: 15px;

            text-align: center;

        }
        #testimonials div section h4 {
            text-align: center;
            font-weight: bold;
            padding: 15px;
        }
        #testimonials div section img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #testimonials div section p {
            text-align: center;
            quotes: "“" "”";
            
        }

        
        #about h3{
            font-weight: bold;
            padding: 15px;
        }
        #about div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 15px;
            padding: 15px;
            margin: 15px;
        }
        #about div section {
            text-align: center;
        }
        #about div section h4 {
            font-weight: bold;
        }
        #contact form {
            display: grid;
            width: auto;
            padding: 1em;
            margin: 0 auto;
            font-size: 1.5em;
            font-weight: bold;
        }
        #contact form input, #contact form label {
            display: grid;
            width: 95%;

        }
        #contact form input{
        font-size: 1.4em;
        height: 2em;
        padding: 0.25em 0.5em;
        border: 4px solid #9B26B0;
        }
        #nums {
            display: grid;
            place-content: center;
        }
        .radio-control {
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.1;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
          }
          
          .radio-control + .radio-control {
            margin-top: 1em;
          }
          
          #radio-control:focus-within {
            color: var(--form-control-color);
          }
          
          input[type="radio"] {
            /* Add if not using autoprefixer */
            -webkit-appearance: none;
            /* Remove most all native input styles */
            appearance: none;
            /* For iOS < 15 */
            background-color: var(--form-background);
            /* Not removed via appearance */
            margin: 0;
          
            font: inherit;
            color: currentColor;
            width: 1.15em;
            height: 1.15em;
            border: 0.15em solid currentColor;
            border-radius: 50%;
            transform: translateY(-0.075em);
          
            display: grid;
            place-content: center;
          }
          
          input[type="radio"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--form-control-color);
            /* Windows High Contrast Mode */
            background-color: CanvasText;
          }
          
          input[type="radio"]:checked::before {
            transform: scale(1);
          }
          
          input[type="radio"]:focus {
            outline: max(2px, 0.15em) solid currentColor;
            outline-offset: max(2px, 0.15em);
          }
          select {
            appearance: none;
            background-color: transparent;
            border: none;
            padding: 0 1em 0 0;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
            line-height: inherit;
            outline: none;
          }
          #contact div .custom-select {
            font-size: 1.4em;
            height: 2em;
            padding: 0.25em 0.5em;
            border: 4px solid #9B26B0;
            cursor: pointer;
            line-height: 1.1;
            background-color: #fff;
            background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
          }
          input[type="submit"] {
                padding: 1em;
                margin: auto;
                background-color: #9B26B0;
                color: #fff;
          }  

}



@media screen and (min-width: 1920px) {
    header{
        display: grid;
        width: auto;
        grid-gap: 10px;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 2fr 1fr;
    }
    h1 {
        grid-column-start: 2;
        grid-row-start: 1;
        align-items: flex-start;
    }

    header p{
        grid-column-start: 2;
        grid-row-start: 1;
        align-self: end;
    }
    header nav {
        grid-column-start: span 2;
    }
      
      #menu-toggle a {
        text-decoration: none;
        color: #232323;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
      }
      #menu-toggle input {
        display: none;
      }
      #menu-toggle label {
        display: none;

      }
      #menu-toggle ul {
        display: flex;
        grid-column-start: span 2;

      }
      #intro{
        display: grid;
        margin: 10%;
        grid-row-gap: 10px;
        padding: 1rem;
        }
        #img-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 2%;
            column-gap: 2%;
         }
         #intro picture {
            grid-column-start: span 2;
         }
        #plan {
            background-color: #F6D64A;
        }
        #plan div {

            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-evenly;
            margin-left: 10%;
            margin-right: 10%;

 
        }

        #plan div section{
            width: 400px;
            height: 300px;
            box-sizing: border-box;
            background-color: #55BCD5;
            border-radius: 10px;
            border: solid white 4px;
            padding: 15px;
            margin: 15px;

        }
        #plan div section h4 {
            padding: 10px;
            text-align: center;
            font-weight: bold;
        }
        #plan div section a img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #testimonials div{
            display: grid;
            grid-template-columns: 1fr 1fr;

        }
        #testimonials h3 {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 15px;
        }
        #testimonials div {
            padding: 15px;
            quotes: auto;
        }
        #testimonials div section {
            margin: 15px;

            text-align: center;

        }
        #testimonials div section h4 {
            text-align: center;
            font-weight: bold;
            padding: 15px;
        }
        #testimonials div section img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #testimonials div section p {
            text-align: center;
            quotes: "“" "”";
            
        }

        
        #about h3{
            font-weight: bold;
            padding: 15px;
        }
        #about div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 15px;
            padding: 15px;
            margin: 15px;
        }
        #about div section {
            text-align: center;
        }
        #about div section h4 {
            font-weight: bold;
        }
        #contact form {
            display: grid;
            width: auto;
            padding: 1em;
            margin: 0 auto;
            font-size: 1.5em;
            font-weight: bold;
        }
        #contact form input, #contact form label {
            display: grid;
            width: 95%;

        }
        #contact form input{
        font-size: 1.4em;
        height: 2em;
        padding: 0.25em 0.5em;
        border: 4px solid #9B26B0;
        }
        #nums {
            display: grid;
            place-content: center;
        }
        .radio-control {
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.1;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
          }
          
          .radio-control + .radio-control {
            margin-top: 1em;
          }
          
          #radio-control:focus-within {
            color: var(--form-control-color);
          }
          
          input[type="radio"] {
            /* Add if not using autoprefixer */
            -webkit-appearance: none;
            /* Remove most all native input styles */
            appearance: none;
            /* For iOS < 15 */
            background-color: var(--form-background);
            /* Not removed via appearance */
            margin: 0;
          
            font: inherit;
            color: currentColor;
            width: 1.15em;
            height: 1.15em;
            border: 0.15em solid currentColor;
            border-radius: 50%;
            transform: translateY(-0.075em);
          
            display: grid;
            place-content: center;
          }
          
          input[type="radio"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--form-control-color);
            /* Windows High Contrast Mode */
            background-color: CanvasText;
          }
          
          input[type="radio"]:checked::before {
            transform: scale(1);
          }
          
          input[type="radio"]:focus {
            outline: max(2px, 0.15em) solid currentColor;
            outline-offset: max(2px, 0.15em);
          }
          select {
            appearance: none;
            background-color: transparent;
            border: none;
            padding: 0 1em 0 0;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
            line-height: inherit;
            outline: none;
          }
          #contact div .custom-select {
            font-size: 1.4em;
            height: 2em;
            padding: 0.25em 0.5em;
            border: 4px solid #9B26B0;
            cursor: pointer;
            line-height: 1.1;
            background-color: #fff;
            background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
          }
          input[type="submit"] {
                padding: 1em;
                margin: auto;
                background-color: #9B26B0;
                color: #fff;
          }  
}